@media (min-width: 576px) {
    .modal-dialog {
      max-width: 752px;
    }

  }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .scrollbar-inner > .scroll-element.scroll-y  {
   display: none
  }

  .form-setting {
    width: 100%;
  }

}  

@media only screen and (max-width: 767px) {
  .nav-tabs-list {
    width: 100%;
  }

  .nav-tabs-list .nav-item {
    padding: 0px 10px;
  }

  .scrollbar-inner > .scroll-element.scroll-y {
    display: none;
  }

  .nav-tab-course .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }

  .form-setting {
    width: 100%;
  }

  .table thead th {
    padding: 5px 10px;
  }
  .table.table-lst-student-custom th {
    padding: 5px 0;
  }
}